*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	border:1px solid black;
	margin-top: 1rem;
}
.navbar {
	font-weight: 300;
	box-shadow: none;
z-index: 9999;
}
.fixed-top {
	position: fixed;
	top: 8px;
	right: 13.5%;
	left: 13.5%;
	border-bottom: 1.5px solid black;
}

a.nav-link.Ripple-parent.active {
	border-bottom: 2px solid black;
}
.pages-top{
	padding-top:80px !important;
}

.front-border{
	padding: 1rem;
	width: 100%;
}
.list-step, .list-step-center {
  list-style-type: none;
	display: table;
	

}

button.btn-right {
	float: right;
	transform: translate(-16px, -60px);
}

li.nav-item{

	margin-right: -5rem;
	margin-left: 1rem;
}


.navbar-nav{
	left:15% !important;
}
li.nav-item{

	margin-right: 5rem;
	margin-left: -1.6rem;
	left: 5%;
	right: 5%;
}
li.nav-item a{
color:black !important;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 0rem;
	padding-left: 0rem;
}

li{
	display: flex;
}

.frontend{
	border:1px solid black;
	margin-bottom: 1rem;
}
.step-title{
	width:100px !important;
	margin-right: 2rem;
}

.list-step table, .list-step-center table {
  width: 100% !important;
}
.list-step .step-title, .list-step-center .step-title {
  display: table-cell;
  padding-right: 1.5em;
  white-space: nowrap;
}
.list-step .step-info, .list-step-center .step-info {
  display: table-cell;
  word-break: break-word;
}

.step-info{
	font-weight: 700 !important;
}

@media only screen and (max-width: 600px) {
	.navbar{
		background-color: blue;
	}
	.fixed-top {
		right: 1rem;
		left: 1rem;
	}
	li.nav-item{

		margin-right: 1rem;
		margin-left: 1rem;
		left: 1rem;
		right: 1rem;
	}
	
	li.nav-item a{
		color:#ffffff !important;
	
	}
	button.btn-right {
		top:50%;
		left:50%;
		justify-content: center;
    transform: translate(-50%, -50%);
}

		

	}